#Header #Top_bar #logo
  height: 65px
  line-height: 65px

/*Content*/
#Wrapper
  h2
    font-size: 15px
    line-height: 15px
    margin-bottom: 10px
  .text-home
    padding-top: 14px
    padding-bottom: 0px
