#Header
  #Action_bar
    background-color: #007f33 !important

    .contact_details
      width: 100%
      text-align: center
      font-size: 11px
      li > i:before
        font-size: 14px
      li.separator a
        border-right: 1px solid
        padding-top: 3px
        padding-bottom: 3px

    .social
      width: 100%
      padding-top: 8px !important
      i:before
        font-size: 13px
      li a
        padding: 2px

