/*Action Bar */
body:not(.template-slider) #Header {
  min-height: 0; }

#Header #Action_bar {
  background-color: #007f33; }
  #Header #Action_bar .contact_details {
    float: right;
    font-size: 14px;
    color: #fff; }
    #Header #Action_bar .contact_details li > i:before {
      font-size: 19px;
      vertical-align: text-top; }
    #Header #Action_bar .contact_details a {
      font-weight: 500;
      color: #ffffff;
      text-decoration: none; }
      #Header #Action_bar .contact_details a:hover {
        color: #005225; }
    #Header #Action_bar .contact_details li.separator a {
      border-right: 2px solid;
      padding-top: 7px;
      padding-bottom: 7px; }
  #Header #Action_bar .social {
    float: left; }
    #Header #Action_bar .social i:before {
      color: #ffffff; }
    #Header #Action_bar .social li {
      margin-right: 5px; }
      #Header #Action_bar .social li:hover a {
        background: #005225; }
      #Header #Action_bar .social li a {
        padding: 8px;
        border-radius: 50%; }

/*Header */
#Header #Top_bar {
  background: #cee39f; }
  #Header #Top_bar #logo {
    height: 76px;
    line-height: 76px;
    padding: 9px 0 5px 0; }
  #Header #Top_bar .top_bar_right {
    display: none; }
  #Header #Top_bar .menu > li > a {
    padding: 16px 0 10px; }
    #Header #Top_bar .menu > li > a span:not(.description) {
      border: none;
      padding-right: 0;
      padding-left: 16px;
      color: #363636; }
  #Header #Top_bar .menu > li:hover > a span:not(.description) {
    font-weight: bold; }
  #Header #Top_bar .logo {
    margin-left: 0;
    margin-right: 20px; }
  #Header #Top_bar #menu ul li {
    background: #cee39f; }

/*Content */
#Wrapper h2 {
  font-weight: 900;
  color: #3b5225;
  font-size: 50px;
  line-height: 50px; }
#Wrapper .text-home {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 10px; }
#Wrapper .one.column {
  margin: 0; }
#Wrapper h3 {
  font-weight: 700;
  color: #464646;
  font-size: 27px; }
#Wrapper .text-buy {
  padding-top: 25px;
  padding-bottom: 20px; }
#Wrapper p {
  font-family: lato;
  font-size: 20px; }
#Wrapper .video-wrapper .two-third.column {
  margin-left: 0; }
#Wrapper .video-wrapper .section_wrapper {
  padding-top: 51px; }
#Wrapper .video-wrapper i.icon-video {
  font-size: 60px; }
#Wrapper .video-wrapper h3 {
  margin-top: 20px; }
#Wrapper .video-wrapper .videos-section {
  padding-top: 5%; }
#Wrapper .video-wrapper .container-footer {
  padding-right: 6% !important; }

/*Footer */
.text-footer {
  background: #007f33;
  font-family: lato;
  line-height: 40px;
  font-size: 34px;
  color: #ffffff;
  font-weight: 500;
  padding: 1% 0; }

.container-footer {
  margin-left: 4% !important;
  margin-right: 4% !important; }

#Footer {
  background-color: #ffffff !important;
  font-family: Roboto;
  color: #464646 !important; }
  #Footer h3 {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #464646 !important;
    margin-bottom: 0 !important; }
    #Footer h3:last-child {
      margin-top: 15px; }
  #Footer p {
    margin-bottom: 3px !important;
    font-size: 13px !important; }
  #Footer .widgets_wrapper #media_image-2 {
    width: 95% !important;
    margin-top: 10px !important; }
  #Footer .footer_copy {
    background: #007f33;
    color: #ffffff; }
    #Footer .footer_copy .column.one {
      padding-top: 12px !important;
      min-height: 20px; }
  #Footer .social {
    float: left; }
    #Footer .social i:before {
      color: #ffffff; }
    #Footer .social li {
      margin-right: 5px; }
      #Footer .social li:hover a {
        background: #005225; }
      #Footer .social li a {
        padding: 8px;
        border-radius: 50%;
        font-size: 13px !important;
        line-height: 13px !important; }
  #Footer a#back_to_top.button.button_js {
    color: #ffffff; }
  #Footer .widgets_wrapper {
    min-height: 315px; }

/*Made by Todd */
.madeby {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #464646;
  background-color: #D8D8D8; }
  .madeby span {
    color: #875293; }
  .madeby img {
    width: 40px; }

/*Circles section */
.container-circles {
  text-align: center;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-bottom: 2%; }
  .container-circles img {
    width: 85%; }
  .container-circles .one-fourth.column {
    margin: 0;
    width: 24%; }
  .container-circles h3 {
    cursor: context-menu; }

@media only screen and (min-width: 1680px) {
  #Footer .widgets_wrapper #media_image-2 {
    width: 75%;
    margin-top: 10px; } }
@media only screen and (max-width: 1164px) {
  #Footer .footer_copy .column.one {
    padding-top: 0; }
  #Footer .widgets_wrapper {
    min-height: 330px; } }
@media only screen and (max-width: 1164px) {
  #Footer .widgets_wrapper {
    min-height: 350px; } }
@media only screen and (max-width: 992px) {
  #Footer .column.one-second {
    width: 98%; }
  #Footer .column.one-fourth {
    width: 46%; }
  #Footer .widgets_wrapper #media_image-2 {
    width: 60% !important;
    margin-top: 10px !important;
    margin: 0 auto; }
  #Footer .widgets_wrapper {
    min-height: 600px; } }
@media only screen and (max-width: 600px) {
  #Footer .column.one-second {
    width: 98%; }
  #Footer .column.one-fourth {
    width: 98%; }
  #Footer .widgets_wrapper #media_image-2 {
    width: 40% !important; }
  #Footer .widgets_wrapper {
    min-height: 780px; } }
@media only screen and (max-width: 1240px) {
  #Wrapper h2 {
    font-size: 35px;
    line-height: 35px; }
  #Wrapper h3 {
    font-size: 23px; }
  #Wrapper p {
    font-size: 17px; } }
@media only screen and (max-width: 767px) {
  #Header {
    min-height: 0 !important; }
    #Header #Action_bar {
      background-color: #007f33 !important; }
      #Header #Action_bar .contact_details {
        width: 100%;
        text-align: center;
        font-size: 11px; }
        #Header #Action_bar .contact_details li > i:before {
          font-size: 14px; }
        #Header #Action_bar .contact_details li.separator a {
          border-right: 1px solid;
          padding-top: 3px;
          padding-bottom: 3px; }
      #Header #Action_bar .social {
        width: 100%;
        padding-top: 8px !important; }
        #Header #Action_bar .social i:before {
          font-size: 13px; }
        #Header #Action_bar .social li a {
          padding: 2px; }
    #Header #Top_bar #menu ul li {
      background: transparent;
      border-top: 1px solid #cee39f; }
    #Header #Top_bar #menu ul:last-child {
      border-bottom: 1px solid #cee39f; }
    #Header #Top_bar a.responsive-menu-toggle i {
      color: #007f33; }
    #Header #Top_bar .menu > li > a {
      padding: 0; }

  /*Content */
  #Wrapper h2 {
    font-size: 25px;
    line-height: 25px; }
  #Wrapper .video-wrapper .videos-section {
    padding-top: 2%; }
  #Wrapper .video-wrapper .section_wrapper {
    padding-top: 20px; }

  /*Footer */
  .text-footer {
    font-size: 24px;
    line-height: 34px; }

  #Footer a#back_to_top.button.button_js {
    margin-bottom: 0; }
  #Footer .footer_copy .column.one {
    padding-bottom: 13px; }

  /*Circle section */
  .container-circles .one-fourth.column {
    margin: 0;
    width: 48% !important;
    clear: none !important; }
  .container-circles img {
    width: 65%; } }
@media only screen and (max-width: 414px) {
  #Header #Top_bar #logo {
    height: 65px;
    line-height: 65px; }

  /*Content */
  #Wrapper h2 {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px; }
  #Wrapper .text-home {
    padding-top: 14px;
    padding-bottom: 0px; }
  #Wrapper h3 {
    font-size: 15px; }
  #Wrapper p {
    font-size: 13px; }

  /*Footer */
  .text-footer {
    font-size: 14px;
    line-height: 20px;
    padding: 2% 0; }

  #Footer .widgets_wrapper {
    min-height: 730px; } }

/*# sourceMappingURL=style.css.map */
